<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{title}}
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/contactos">Contactos</a></li>
      <li><a href="/fixture">Fixture</a></li>
      <li><a href="/tabla">Tabla</a></li>
    </ul>
  </body>
</html>
